::-webkit-scrollbar {
    opacity: 0;
}
::-webkit-scrollbar-track {
    opacity: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 9999px;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
}
.cm-s-darcula{
    position: absolute;
    left: calc(50% + 10px);
    top: 50px;
}
.cm-s-darcula:nth-of-type(5) {
    top: calc(50% + 30px);
}
.editor-resizer {
    position: absolute;
    left: calc(50% + 10px);
    width: calc(50% - 10px);
    top: calc(50% + 20px);
    height: 10px;
    background-color: #222;
    cursor: row-resize;
}
.blocklyworkspace-resizer {
    position: absolute;
    left: 50%;
    width: 10px;
    top: 50px;
    height: calc(100% - 50px);
    background-color: #222;
    cursor: col-resize;
}

#execution {
    position: absolute;
    top:calc(50% - 70px);
    right:50px;
    width:50px;
    height:50px;
    color: #fff;
    background-color:green;
    border: none;
    border-radius: 50%;
    font-size:20px;
    cursor: pointer;
}
#consoleclear {
    position: absolute;
    top:calc(50% + 70px);
    right:50px;
    width:50px;
    height:50px;
    color: #fff;
    background-color:darkorange;
    border: none;
    border-radius: 50%;
    font-size:30px;
    font-weight:bold;
    cursor: pointer;
}
#error {
    color: red;
}
button {
    z-index: 999;
}

header {
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: orange;
    color: white;
    font-weight: bold;
    display: flex;
}
header img {
    height: 50px;
    margin-left: 20px;
    user-select: none;
}
header input[type="text"] {
    width: 300px;
    margin: 5px 10px 5px 100px;
    outline: none;
    background-color: orange;
    border: 2px solid #e67e00;
    padding: 1px 5px;
    font-size: bold;
    color: white;
    border-radius: 6px;
}
.menu {
    user-select: none
}
.menu_lists {
    display: flex;
    height: 50px;
    margin: 0;
}
.menu_list p{
    cursor: pointer;

    height: 50px;
    margin: 0;
    line-height: 50px;
    font-size: 15px;

    padding: 0 25px;
}

.menu_list p:hover {
    background-color: #e67e00;
}
.dropdown_lists {
    padding-left:0;
    width: fit-content;
    position: absolute;
    border-radius: 0 0 20px 20px;
    display: none;
    background-color: orange;
    width: 250px;
}
.dropdown_list{
    /* display:none; */
    position: relative;
}
.dropdown_list:last-of-type p {
    border-radius: 0 0 20px 20px;
}
.dropdown_list p {
    padding: 10px;
    height: 30px;
    line-height: 30px;

}

ul, li {
    list-style: none;
}

hr {
    border: 1px solid #e67e00;
    margin: 0;
}

input[type="checkbox"] {
    opacity:0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

input[type="checkbox"] + span::before {
    display: inline-block;
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid gold;
    border-radius: 5px;
    margin-right: .5rem;
    vertical-align: middle;

}
input[type="checkbox"]:checked + span::before {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><polyline fill='none' stroke='rgb(255,255,0)' stroke-width='3'%20points='2,7.3%207.3,12.7%2018,2%20'/></svg>");
    background-repeat: no-repeat;
    background-position: 0 2px;
}

#open_dialog_background {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 165, 0, 0.3);
}
#open_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    width: 50%;

}
#open_dialog h2 {
    margin: 0;
}
#file_lists {
    margin: 10px;
    max-height: 50vh;
    overflow-y:scroll;
    overflow-x: hidden;
}
#file_lists::-webkit-scrollbar{
    display:none;
}

#file_lists input {
    display: none;
}
.filename {
    margin: 0;
    border-bottom: 1px solid #eee;
}
.filename label {
    display: block;
    padding: 15px 0 15px 30px;
}
.filename:last-of-type {
    border-bottom: none;
}
#file_lists input[type="radio"]:checked + label {
    background-color: #fffbe6;
}
#open_dialog_newfile {
    text-align: left;
}
#delete {
    vertical-align: middle;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
#delete:hover {
    color: orange;
}

#error_dialog_background {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 165, 0, 0.3);
}
#error_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    width: 50%;

}
#error_dialog h2 {
    margin: 0;
}
#error_dialog textarea {
    resize: none;
    width: 100%;
    height: 20vh;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    color: red;
    font-weight: 700;
}



#open, #save, #cancel, #close, #ok, #open_dialog_newfile, #create_link_btn {
    background-color: #fff;
    border: 1px solid orange;
    border-radius:5px;
    font-size: 15px;
    padding: 10px 20px;
    margin: 20px;
    margin-right: 10px;
    cursor: pointer;

}

.buttons {
    clear:both;
    right: 0;
    text-align: right;
}


#share {
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0 30px 0 auto;
}
#share:hover {
    color: yellow;
}
.share_icon {
    line-height: 50px;
}
#share_dialog_background{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 165, 0, 0.3);
}
#share_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    width: 50%;
}
#create_link_btn {
    display: block;
}
.link {
    float: left;
    border: 1px solid #ddd;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    /* width: calc(90% - 170px); */
    width: 90%;
    margin: 20px 10px;
    border-radius: 10px;
    height: 40px;
}
.link_field {
    float: left;
    margin: 0;
    line-height: 40px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 90%;
}
.link_field::-webkit-scrollbar {
    display: none;
}
#link_copy {
    float: right;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}
#link_copy span {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

}
#link_copy:hover {
    background-color: #eee;
}
#link_create p {
    margin-left: 25px;
    color: gray;
}

.selectBox{
    float: left;
    width: 150px;
    cursor: pointer;
    margin: 20px 10px;
}
.selectBox select{
    display: none;
}
.selectBox__output{
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
    font-size: 1em;
    height: 30px;
}
.selectBox__output::after{
    display: block;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    content: "expand_more";
}
.selectBox__output.open::after{
    transform: translateY(-50%) rotate(180deg);
}
.selectBox__selector{
    display: none;
    position: absolute;
    width: 150px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 10;

}
.selectBox__selectorItem{
    padding: .75em;
}
.selectBox__selectorItem+.selectBox__selectorItem{
    border-top: 1px solid #ccc;
}
.selectBox__selectorItem:hover{
    background-color: #e67e00;
    color:#fff;
}


#blocklyDiv {
    width: 100%;
    height: 100%;
}
#BlocklyArea {
    position: absolute;
    top: 50px;
    width: 50%;
    height: calc(100% - 50px);
}

/* Makes our label white. */
.blocklyTreeLabel {
    color: black;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: .5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    padding: 5px 10px 5px 10px;
    margin-bottom: .5em;
    border-radius: 4px;
    text-align: center
}
.blocklyToolboxDiv {
    background-color: #fff;
    border-right: 2px solid #eee;
}
/* Changes color of the icon to white. */
.customIcon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 5px;
}
  /* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocklyTreeRow {
    height: initial;
}